includes:
  - phpstan-baseline.neon

parameters:
  tmpDir: var/cache/phpstan
  errorFormat: checkstyle
  bootstrapFiles:
    - vendor/autoload.php
    - tests/bootstrap.php
  scanDirectories:
    - vendor
  level: 9
  paths:
    - src
    - tests
