parameters:
  tmpDir: var/cache/phpstan
  bootstrapFiles:
    - vendor/autoload.php
    - tests/bootstrap.php
  scanDirectories:
    - vendor
  level: 9
  paths:
    - src
    - tests
  excludePaths:
    - tests/src/Trait/SecurityTraitTest.php
